.buttonBox {
  display: flex;
  justify-content: center;
  height: 60px;
  width: inherit;
  box-sizing: border-box;
  margin-top: 50px;
}

.buttonBox > * {
  margin-right: 30px;
  width: 180px;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
}

/* Btn hover Style */
.btn1,
.btn2,
.btn3 {
  border: 1px solid #0d6efd;
  color: #0d6efd;
  font-weight: 600;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
  background-color: #0d6efd;
  color: #fff;
  border: none;
}
