.buttonBox {
  height: 65px;
  margin: 50px auto;
  width: 1053px;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.buttonBox > * {
  background-color: #eee;
  margin-right: 30px;
  height: 60px;
  width: 200px;
  font-size: 22px;
  text-align: center;
  line-height: 62px;
  border-radius: 5px;
  border: none;
}

/* Btn hover Style */
.btn1,.btn2,.btn3 {
  font-size: 18px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
  background-color: rgb(87, 87, 87);
  color: #fff;
}



