.cart {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cart .wrap {
  background-color: #ffffff;
  height: 1633.06px;
  position: relative;
  width: 1440px;
}

.cart .cartProductPrice {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: auto;
  top: 5px;
}

.cart .cartProductName {
  color: #000000;
  font-size: 20px;
  left: 360px;
  position: absolute;
  top: 90px;
  width: 180px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.cart .title {
  color: #ff7d9e;
  font-size: 40px;
  font-weight: 600;
  padding-top: 80px;
  text-align: center;
}

.cart .cartBar {
  margin: 80px auto 0;
  height: 60px;
  width: 1377px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}

.cart .cartBar .productImage {
  font-family: "Inter-Light", Helvetica;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  left: 170px;
  color: #999;
}

.cart .productName {
  font-family: "Inter-Light", Helvetica;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  left: 395px;
  color: #999;
}

.cart .productPrice {
  font-family: "Inter-Light", Helvetica;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  left: 600px;
  color: #999;
}

.cart .productStock {
  font-family: "Inter-Light", Helvetica;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  left: 800px;
  color: #999;
}

.cart .productSizeColor {
  font-family: "Inter-Light", Helvetica;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  left: 980px;
  color: #999;
}

.cart .sumPay {
  font-family: "Inter-Light", Helvetica;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  left: 1230px;
  color: #999;
}

.cart .buyCheckBox {
  background-color: #ffffff;
  height: 25px;
  left: 42px;
  position: absolute;
  width: 25px;
}
