.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  background-color: #fff;
}

.detail .inner {
  background-color: #eee;
  width: 100%;
  overflow: hidden;
}

.detail .wrapper {
  padding: 10px;
  background-color: #fff;
}

.detail .div-wrapper .text {
  padding: 10px;
}
