.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  background-color: #fff;
}

.detail .inner {
  width: 100%;
  overflow: hidden;
}

.detail .wrapper {
  background-color: #fff;
  border-radius: 7px;
}

.detail .wrapper .text {
  padding: 10px;
}

.detail .wrapper .text:hover {
  color: #ff7d9e;
}
