.findPassword {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.findPassword .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.findPassword .textWrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.1px;
  font-weight: 400;
  height: 129px;
  left: 406px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 633px;
}

.findPassword .findPasswordBox {
  background-color: #eeeeee;
  height: 670px;
  left: 278px;
  position: absolute;
  top: 169px;
  width: 905px;
}

.findPassword .inputBox {
  background-color: #ffffff;
  height: 312px;
  left: 14px;
  position: absolute;
  top: 78px;
  width: 876px;
}

.findPassword .inputUserid {
  background-color: #eeeeee;
  height: 101px;
  left: 30px;
  position: absolute;
  top: 27px;
  width: 815px;
}

.findPassword .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29.8px;
  font-weight: 400;
  height: 63px;
  left: 105px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 573px;
}

.findPassword .inputUserPhoneNumber {
  background-color: #eeeeee;
  height: 101px;
  left: 30px;
  position: absolute;
  top: 181px;
  width: 815px;
}

.findPassword .textWrapper3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29.8px;
  font-weight: 400;
  height: 63px;
  left: 119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 573px;
}

.findPassword .buttonBox {
  background-color: #ffffff;
  height: 173px;
  left: 11px;
  position: absolute;
  top: 410px;
  width: 879px;
}

.findPassword .submitButton {
  background-color: #eeeeee;
  height: 101px;
  left: 51px;
  position: absolute;
  top: 32px;
  width: 302px;
}

.findPassword .textWrapper4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29.8px;
  font-weight: 400;
  height: 62px;
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 145px;
}

.findPassword .cancelButton {
  background-color: #eeeeee;
  height: 101px;
  left: 551px;
  position: absolute;
  top: 32px;
  width: 248px;
}

.findPassword .textWrapper5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29.8px;
  font-weight: 400;
  height: 62px;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 183px;
}