*{margin:0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style:none;}
a{text-decoration:none;} 

.findId {
  background-color: #f6f1eb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.findId .div {
  background-color: #fffcf7;
  height: 524px;
  position: relative;
  width: 640px;
  border-radius: 10px;
}

.findId .div > .textWrapper::after{
  content: '';
  display: block;
  width: 540px;
  border: 1px solid #f6f1eb;
  position: absolute;
  top: 60px;
  left: 135px;
}

.findId .textWrapper {
  color: #524747;
  font-size: 30px;
  font-weight: 400;
  height: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  left: -90px;
  width: 413px;
}

.findId .findUserIdBox {
  background-color: #fffcf7;
  height: 373px;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 408px;
}

.findId .inputBox {
  background-color: #fffcf7;
  height: 178px;
  left: 110px;
  position: absolute;
  top: 10px;
  width: 402px;
}

.findId .inputUsername {
  background-color: #fffcf7;
  height: 90px;
  left: -70px;
  position: absolute;
  top: 24px;
  width: 400px;
}

.findId .textWrapper2 {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 370px;
  border: 1px solid #9d2a1e;
  padding-left: 7px;
  border-radius: 4px;
}

.findId .inputUserEmail {
  background-color: #fffcf7;
  height: 70px;
  left: -70px;
  position: absolute;
  top: 100px;
  width: 400px;
}

.findId .emailButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4a4a;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 388px;
  width: 80px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 10px;
}

.findId .inputNum {
  background-color: #fffcf7;
  height: 90px;
  left: -70px;
  position: absolute;
  top: 180px;
  width: 400px; 
}

.findId .inputNumWrapper {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 370px;
  border: 1px solid #9d2a1e;
  padding-left: 7px;
  border-radius: 4px;
}

.findId .inputNumButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4a4a;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 388px;
  width: 80px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 10px;
}

.findId .buttonBox {
  background-color: #fffcf7;
  height: 154px;
  left: 10px;
  position: absolute;
  top: 200px;
  width: 400px;
}

.findId .submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4a4a;
  height: 40px;
  left: 150px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 15px;
}



.findId .cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4a4a;
  height: 40px;
  left: 350px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 15px;
}


.result {
  position: absolute;
  top: 470px;
  left: 260px;
  color: #9d2a1e;
}