.find-password {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .find-password .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .find-password .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 44.1px;
    font-weight: 400;
    height: 129px;
    left: 406px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 39px;
    width: 633px;
  }
  
  .find-password .find-password-box {
    background-color: #eeeeee;
    height: 670px;
    left: 278px;
    position: absolute;
    top: 169px;
    width: 905px;
  }
  
  .find-password .input-box {
    background-color: #ffffff;
    height: 312px;
    left: 14px;
    position: absolute;
    top: 78px;
    width: 876px;
  }
  
  .find-password .input-userid {
    background-color: #eeeeee;
    height: 101px;
    left: 30px;
    position: absolute;
    top: 27px;
    width: 815px;
  }
  
  .find-password .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 29.8px;
    font-weight: 400;
    height: 63px;
    left: 105px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 573px;
  }
  
  .find-password .input-userphonenum {
    background-color: #eeeeee;
    height: 101px;
    left: 30px;
    position: absolute;
    top: 181px;
    width: 815px;
  }
  
  .find-password .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 29.8px;
    font-weight: 400;
    height: 63px;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 573px;
  }
  
  .find-password .botton-box {
    background-color: #ffffff;
    height: 173px;
    left: 11px;
    position: absolute;
    top: 410px;
    width: 879px;
  }
  
  .find-password .submit-button {
    background-color: #eeeeee;
    height: 101px;
    left: 51px;
    position: absolute;
    top: 32px;
    width: 302px;
  }
  
  .find-password .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 29.8px;
    font-weight: 400;
    height: 62px;
    left: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 145px;
  }
  
  .find-password .cancle-button {
    background-color: #eeeeee;
    height: 101px;
    left: 551px;
    position: absolute;
    top: 32px;
    width: 248px;
  }
  
  .find-password .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 29.8px;
    font-weight: 400;
    height: 62px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 183px;
  }
