*{margin:0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style:none;}
a{text-decoration:none;} 

.findPassword {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.findPassword .div {
  background-color: #FFFFFF;
  height: 524px;
  position: relative;
  width: 640px;
  border-radius: 10px;
}

/* .findPassword .div > .textWrapper::after{
  content: '';
  display: block;
  width: 540px;
  border: 1px solid #f6f1eb;
  position: absolute;
  top: 60px;
  left: 115px;
} */

.findPassword .textWrapper {
  color: black;
  font-size: 30px;
  font-weight: 400;
  height: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  left: 100px;
  width: 413px;
}

.findPassword .findPasswordBox {
  background-color: #FFFFFF;
  height: 373px;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 408px;
}

.findPassword .inputBox {
  background-color: #FFFFFF;
  height: 178px;
  left: 110px;
  position: absolute;
  top: 10px;
  width: 402px;
}

.findPassword .place1{
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 90px;
  width: 50px;
  text-align: center;
  background-color: white;
  color: #999999;
  font-size: 14px;
  transition: 0.1s;
  border-radius: 15px;
  cursor: text;
}

.findPassword .place2{
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 85px;
  width: 60px;
  text-align: center;
  background-color: white;
  color: #999999;
  font-size: 14px;
  transition: 0.1s;
  border-radius: 15px;
  cursor: text;
}

.findPassword .place3{
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 89px;
  width: 60px;
  text-align: center;
  background-color: white;
  color: #999999;
  font-size: 14px;
  transition: 0.1s;
  border-radius: 15px;
  cursor: text;
}

.findPassword .inputUserid {
  background-color: #FFFFFF;
  height: 90px;
  left: -70px;
  position: absolute;
  top: 24px;
  width: 400px;
}

.findPassword .textWrapper2 {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 370px;
  padding-left: 7px;
  border: transparent;
  border-bottom: 1px solid #EBEBEB;
  outline: none;
}
.findPassword .textWrapper2:focus{
  border-bottom: 1px solid rgb(124, 124, 124);
}


.findPassword .inputUserEmail {
  background-color: #FFFFFF;
  height: 70px;
  left: -70px;
  position: absolute;
  top: 100px;
  width: 400px;
}

.findPassword .textWrapper3 {
  
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 285px;
  padding-left: 7px;
  border: transparent;
  border-bottom: 1px solid #EBEBEB;
  outline: none;
}
.findPassword .textWrapper3:focus{
  border-bottom: 1px solid rgb(124, 124, 124);
}

.findPassword .emailButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 388px;
  width: 80px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 10px;
}

.findPassword .inputNum {
  background-color: #FFFFFF;
  height: 90px;
  left: -70px;
  position: absolute;
  top: 180px;
  width: 400px; 
}

.findPassword .inputNumWrapper {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 285px;
  padding-left: 7px;
  border: transparent;
  border-bottom: 1px solid #EBEBEB;
  outline: none;
}
.findPassword .inputNumWrapper:focus{
  border-bottom: 1px solid rgb(124, 124, 124);
}

.findPassword .inputNumButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 388px;
  width: 80px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 10px;
}

.findPassword .buttonBox {
  background-color: #FFFFFF;
  height: 154px;
  left: 10px;
  position: absolute;
  top: 200px;
  width: 400px;
}

.findPassword .LinkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 40px;
  position: absolute;
  top: 28px;
  left: 150px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 12px;
}



.findPassword .cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 40px;
  left: 350px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  font-size: 12px;
}
