.joinUs {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.joinUs .joinBoxWrapper {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.joinUs .joinBox {
  background-color: #eeeeee;
  height: 998px;
  left: 433px;
  position: relative;
  top: 13px;
  width: 574px;
}

.joinUs .txt {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 251px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 68px;
  width: 80px;
}

.joinUs .overlapGroup {
  height: 248px;
  left: 20px;
  position: absolute;
  top: 184px;
  width: 528px;
}

.joinUs .allCheck {
  height: 128px;
  left: 0;
  position: absolute;
  top: 0;
  width: 527px;
}

.joinUs .rectangle {
  background-color: #ffffff;
  height: 19px;
  left: 17px;
  position: absolute;
  top: 18px;
  width: 21px;
}

.joinUs .textWrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 110px;
}

.joinUs .vector {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 82px;
  width: 518px;
  background-color: #000;
}

.joinUs .check {
  height: 128px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 527px;
}

.joinUs .div {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 330px;
}

.joinUs .input {
  background-color: #ffffff;
  height: 64px;
  left: 5px;
  position: absolute;
  top: 58px;
  width: 517px;
}

.joinUs .check2 {
  height: 128px;
  left: 20px;
  position: absolute;
  top: 451px;
  width: 527px;
}

.joinUs .submitButton {
  background-color: #ffffff;
  height: 64px;
  left: 50px;
  position: absolute;
  top: 893px;
  width: 192px;
}

.joinUs .cancleButton {
  background-color: #ffffff;
  height: 64px;
  left: 340px;
  position: absolute;
  top: 893px;
  width: 192px;
}

.joinUs .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
}