* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol,li {
  list-style: none;
}

a {
  text-decoration: none;
}


.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login .div {
  background-color: #ffffff;
  height: 524px;
  position: relative;
  width: 640px;
  border-radius: 10px;
}

/* .login .div > .textWrapper::after {
  content: "";
  display: block;
  width: 350px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 60px;
  left: 35px;
} */

/*
.login .div > .textWrapper::before {
  content: "";
  display: block;
  width: 540px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 390px;
  left: -50px;
  z-index: 2;
} */



.login .textWrapper {
  color: black;
  font-size: 30px;
  font-weight: 400;
  height: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  left: 100px;
  width: 413px;
}

.login .loginBox {
  background-color: #ffffff;
  height: 373px;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 408px;
}

/* .login .loginBox::after {
  content: "";
  display: block;
  width: 1px;
  height: 330px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: -20px;
  left: 50px;
}

.login .loginBox::before {
  content: "";
  display: block;
  width: 1px;
  height: 330px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: -20px;
  left: 590px;
} */

.login .loginForm {
  background-color: #ffffff;
  height: 178px;
  left: 110px;
  position: absolute;
  top: 10px;
  width: 402px;
}

.login .inputUserId {
  background-color: #ffffff;
  height: 90px;
  left: -70px;
  position: absolute;
  top: 24px;
  width: 400px;
}

.login .place1 {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 90px;
  width: 50px;
  text-align: center;
  background-color: white;
  color: #999999;
  font-size: 14px;
  transition: 0.1s;
  border-radius: 15px;
  cursor: text;
}

.login .place2 {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 90px;
  width: 60px;
  text-align: center;
  background-color: white;
  color: #999999;
  font-size: 14px;
  transition: 0.1s;
  border-radius: 15px;
  cursor: text;
}

.login .textWrapper2 {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 370px;
  border: transparent;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 7px;
  outline: none
}

.login .textWrapper2:focus{
  border: transparent;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.login .inputUserpassword {
  background-color: #ffffff;
  height: 70px;
  left: -70px;
  position: absolute;
  top: 100px;
  width: 400px;
}

.login .loginButton {
  background-color: #ffffff;
  height: 154px;
  left: 10px;
  position: absolute;
  top: 300px;
  width: 400px;
}

.login .submitButton {
  background-color: #000000;
  height: 40px;
  left: 150px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
}

.login .textWrapper3 {
  color: #000000;

  font-size: 26.6px;
  font-weight: 400;
  height: 55px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 129px;
}

.login .cancelButton {
  background-color: #000000;
  height: 40px;
  left: 350px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
}

.login .textWrapper4 {
  color: #000000;

  font-size: 26.6px;
  font-weight: 400;
  height: 55px;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 163px;
}

.login .etc {
  background-color: #ffffff;
  height: 54px;
  left: 10px;
  position: absolute;
  top: 230px;
  width: 400px;
}

.login .textWrapper5 {
  color: black;
  font-size: 15px;
  font-weight: 400;
  height: 37px;
  left: 120px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100px;
}

.login .etc > ::after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background-color: #dadada;
  position: absolute;
  top: 2px;
  left: 120px
}

.login .etc :last-of-type::after {
  width: 0;
}

.login .textWrapper6 {
  color: black;
  font-size: 15px;
  font-weight: 400;
  height: 35px;
  left: 267px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100px;
}

.login .textWrapper7 {
  color: black;

  font-size: 15px;
  font-weight: 400;
  height: 37px;
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100px;
}