.mainNotlogin {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainNotlogin .div {
  background-color: #ffffff;
  height: 1474px;
  position: relative;
  width: 1440px;
}

.mainNotlogin .nav {
  background-color: #eeeeee;
  height: 69px;
  left: 36px;
  position: absolute;
  top: 25px;
  width: 1363px;
}

.mainNotlogin .logo {
  background-color: #ffffff;
  height: 42px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 109px;
}

.mainNotlogin .textWrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 23.6px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 75px;
}

.mainNotlogin .user {
  background-color: #ffffff;
  height: 37px;
  left: 1184px;
  position: absolute;
  top: 16px;
  width: 129px;
}
.mainNotlogin .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 23.6px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 4px;
  width: 79px;
}

.mainNotlogin .category {
  background-color: #eeeeee;
  height: 134px;
  left: 36px;
  position: absolute;
  top: 110px;
  width: 1363px;
}

.mainNotlogin .divWrapper {
  background-color: #ffffff;
  height: 82px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 211px;
}

.mainNotlogin .textWrapper3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 45.5px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.mainNotlogin .category2 {
  background-color: #ffffff;
  height: 82px;
  left: 302px;
  position: absolute;
  top: 24px;
  width: 211px;
}

.mainNotlogin .category3 {
  background-color: #ffffff;
  height: 82px;
  left: 583px;
  position: absolute;
  top: 24px;
  width: 211px;
}

.mainNotlogin .category4 {
  background-color: #ffffff;
  height: 82px;
  left: 856px;
  position: absolute;
  top: 24px;
  width: 211px;
}

.mainNotlogin .category5 {
  background-color: #ffffff;
  height: 82px;
  left: 1129px;
  position: absolute;
  top: 26px;
  width: 211px;
}

.mainNotlogin .visual {
  background-color: #eeeeee;
  height: 288px;
  left: 0;
  position: absolute;
  top: 275px;
  width: 1440px;
}

.mainNotlogin .wrap {
  height: 774px;
  left: 0;
  position: absolute;
  top: 594px;
  width: 1440px;
}

.mainNotlogin .product {
  background-color: #eeeeee;
  height: 311px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 403px;
}

.mainNotlogin .image {
  background-color: #ffffff;
  height: 175px;
  left: 28px;
  position: absolute;
  top: 15px;
  width: 348px;
}

.mainNotlogin .textWrapper4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13.9px;
  font-weight: 400;
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 79px;
  white-space: nowrap;
  width: 145px;
}

.mainNotlogin .infoBox {
  background-color: #ffffff;
  height: 91px;
  left: 28px;
  position: absolute;
  top: 205px;
  width: 348px;
}

.mainNotlogin .productName {
  background-color: #eeeeee;
  height: 31px;
  left: 16px;
  position: absolute;
  top: 10px;
  width: 316px;
}
.mainNotlogin .textWrapper5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13.9px;
  font-weight: 400;
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 114px;
}

.mainNotlogin .productInfo {
  background-color: #eeeeee;
  height: 27px;
  left: 16px;
  position: absolute;
  top: 54px;
  width: 316px;
}

.mainNotlogin .textWrapper6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13.9px;
  font-weight: 400;
  left: 113px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 89px;
}

.mainNotlogin .product2 {
  background-color: #eeeeee;
  height: 311px;
  left: 505px;
  position: absolute;
  top: 0;
  width: 403px;
}

.mainNotlogin .product3 {
  background-color: #eeeeee;
  height: 311px;
  left: 931px;
  position: absolute;
  top: 0;
  width: 403px;
}

.mainNotlogin .product4 {
  background-color: #eeeeee;
  height: 311px;
  left: 80px;
  position: absolute;
  top: 422px;
  width: 403px;
}

.mainNotlogin .product5 {
  background-color: #eeeeee;
  height: 311px;
  left: 505px;
  position: absolute;
  top: 422px;
  width: 403px;
}

.mainNotlogin .product6 {
  background-color: #eeeeee;
  height: 311px;
  left: 931px;
  position: absolute;
  top: 422px;
  width: 403px;
}
