.header {
}
.header .inner {
}

.header .inner .nav {
  padding: 20px 30px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header .inner .category {
  padding: 20px 20px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header .inner .category2 {
  padding: 20px 20px;
  background-color: #eeeeee;
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header .inner .wrapper {
  padding: 0px;
  background-color: #ffffff;
  text-align: center;
}

.header .inner .text {
  padding: 10px;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.header .inner .category .wrapper {
  margin: 0 20px;
}

.header .inner .link {
  text-decoration: none;
}

.header .inner .nav .linkProfile {
  background-color: #ffffff;
  border-radius: 121.63px;
  height: 143px;
  width: 143px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.header .inner .nav .linkProfile .profileImage {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 1400px) {
  .nav {
    display: flex;
  }
  .header .inner .nav .category {
    display: none;
  }
  .header .inner .category2 {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .header .inner .category2 {
    overflow-x: scroll;
  }
  .header .inner .category2 .wrapper {
    width: 20%;
    margin: 0 10px;
  }
  .header .inner .category2 .wrapper .text {
    font-size: 20px;
  }
}
