.nav {
  background-color: #eeeeee;
}

.user {
  background-color: #ffffff;
}

.nav .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper {
  background-color: #ffffff;
}

.nav .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.category {
  background-color: #eeeeee;
}

.category .div-wrapper{
  display: flex;
}

.category .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.category .category-2 {
  background-color: #ffffff;
}

.category .category-3 {
  background-color: #ffffff;
}

.category .category-4 {
  background-color: #ffffff;
}

.category .category-5 {
  background-color: #ffffff;
}
