*{margin:0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style:none;}
a{text-decoration:none;} 

.passwordCheck {
  background-color: #f6f1eb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.passwordCheck .div {
  background-color: #fffcf7;
  height: 524px;
  position: relative;
  width: 640px;
  border-radius: 10px;
}

.passwordCheck .div > .textWrapper::after{
  content: '';
  display: block;
  width: 540px;
  border: 1px solid #f6f1eb;
  position: absolute;
  top: 60px;
  left: 120px;
}

.passwordCheck .textWrapper {
  color: #524747;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  left: -70px;
  width: 413px;
}

.passwordCheck .loginBox {
  background-color: #fffcf7;
  height: 373px;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 408px;
}

.passwordCheck .buttonBox {
  background-color: #fffcf7;
  height: 154px;
  left: 10px;
  position: absolute;
  top: 200px;
  width: 400px;
}

.passwordCheck .submitButton {
  background-color: #4d4a4a;
  height: 40px;
  left: 150px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  line-height: 20px;
  font-size: 18px;
}


.passwordCheck .cancelButton {
  background-color: #4d4a4a;
  height: 40px;
  left: 350px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  line-height: 20px;
  font-size: 18px;
}


.passwordCheck .inputBox {
  background-color: #fffcf7;
  height: 178px;
  left: 110px;
  position: absolute;
  top: 10px;
  width: 402px;
}

.passwordCheck .inputUserpassword {
  background-color: #fffcf7;
  height: 90px;
  left: -70px;
  position: absolute;
  top: 24px;
  width: 400px;
}

.passwordCheck .textWrapper4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 370px;
  border: 1px solid #9d2a1e;
  padding-left: 7px;
  border-radius: 4px;
}

.passwordCheck .divWrapper {
  background-color: #fffcf7;
  height: 70px;
  left: -70px;
  position: absolute;
  top: 100px;
  width: 400px;
}