*{margin:0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style:none;}
a{text-decoration:none;} 

.passwordCheck {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 524px;
}

.passwordCheck .div {
  background-color: #FFFFFF;
  height: 524px;
  position: relative;
  width: 640px;
  border-radius: 10px;
}

/* .passwordCheck .div > .textWrapper::after{
  content: '';
  display: block;
  width: 540px;
  border: 1px solid #f6f1eb;
  position: absolute;
  top: 60px;
  left: 120px;
} */

.passwordCheck .textWrapper {
  color: black;
  font-size: 30px;
  font-weight: 400;
  height: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  left: 100px;
  width: 413px;
}

.passwordCheck .loginBox {
  background-color: #FFFFFF;
  height: 373px;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 408px;
}

.passwordCheck .place1{
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 93px;
  width: 60px;
  text-align: center;
  background-color: white;
  color: #999999;
  font-size: 14px;
  transition: 0.1s;
  border-radius: 15px;
  cursor: text;
}

.passwordCheck .place2{
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 95px;
  width: 80px;
  text-align: center;
  background-color: white;
  color: #999999;
  font-size: 14px;
  transition: 0.1s;
  border-radius: 15px;
  cursor: text;
}

.passwordCheck .buttonBox {
  background-color: #FFFFFF;
  height: 154px;
  left: 10px;
  position: absolute;
  top: 200px;
  width: 400px;
}

.passwordCheck .submitButton {
  background-color: black;
  height: 40px;
  left: 150px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  line-height: 20px;
  font-size: 18px;
}


.passwordCheck .cancelButton {
  background-color: black;
  height: 40px;
  left: 350px;
  position: absolute;
  top: 28px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  line-height: 20px;
  font-size: 18px;
}


.passwordCheck .inputBox {
  background-color: #FFFFFF;
  height: 178px;
  left: 110px;
  position: absolute;
  top: 10px;
  width: 402px;
}

.passwordCheck .inputUserpassword {
  background-color: #FFFFFF;
  height: 90px;
  left: -70px;
  position: absolute;
  top: 24px;
  width: 400px;
}

.passwordCheck .textWrapper4 {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 370px;
  border: transparent;
  padding-left: 7px;
  border-bottom: 1px solid #EBEBEB;
  outline: none;
}
.passwordCheck .textWrapper4:focus{
  border-bottom: 1px solid rgb(124, 124, 124);
}


.passwordCheck .divWrapper {
  background-color: #FFFFFF;
  height: 70px;
  left: -70px;
  position: absolute;
  top: 100px;
  width: 400px;
}