.payBuyList {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.payBuyList .payItem {
  border: 1px solid #eee;
  border-radius: 10px;
  height: 300px;
  margin: 40px auto 0;
  width: 1000px;
  position: relative;
}

.payBuyList .itemInfo {
  height: 396px;
  left: 80px;
  position: absolute;
  top: 25px;
  width: 1000px;
}

.payBuyList .productBox1 {
  height: 65px;
  left: 250px;
  position: absolute;
  top: 50px;
  width: 575px;
}

.payBuyList .productBox2 {
  height: 65px;
  left: 250px;
  position: absolute;
  top: 80px;
  width: 575px;
}

.payBuyList .productBox3 {
  height: 65px;
  left: 250px;
  position: absolute;
  top: 110px;
  width: 575px;
}

.payBuyList .productBox4 {
  height: 65px;
  left: 250px;
  position: absolute;
  top: 140px;
  width: 575px;
}

.payBuyList .productTotalBox {
  height: 65px;
  left: 250px;
  position: absolute;
  top: 190px;
  width: 575px;
}

.payBuyList .productName {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.payBuyList .productTotal {
  color: tomato;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -5px;
  white-space: nowrap;
}

.payBuyList .payDate {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  width: 200px;
}

.payBuyList .imageBox {
  border: 1px solid lightgray;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 200px;
}

.payBuyList .basketPlus {
  position: absolute;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid #ddd;
  right: 110px;
  top: 80px;
}

.payBuyList .delBtn {
  position: absolute;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid #ddd;
  right: 110px;
  top: 140px;
}

.payBuyList .reviewBtn {
  position: absolute;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid #ddd;
  right: 110px;
  top: 200px;
}

.payBuyList .selectBox {
  height: 35px;
  left: 45px;
  position: absolute;
  top: 43px;
  width: 35px;
}

.payBuyList .buttonBox {
  height: 65px;
  margin: 50px auto;
  width: 1053px;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.payBuyList .buttonBox > * {
  background-color: #eee;
  margin-right: 30px;
  height: 65px;
  width: 200px;
  font-size: 25px;
  text-align: center;
  line-height: 65px;
  border-radius: 5px;
}

.payBuyList .title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin: 40px auto;
  white-space: nowrap;
  width: 357px;
}