.payBuyList {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.payBuyList .div {
  background-color: #ffffff;
  height: 1975.16px;
  position: relative;
  width: 1440px;
}

.payBuyList .payItem {
  background-color: #eeeeeeee;
  height: 472px;
  left: 62px;
  position: absolute;
  top: 448px;
  width: 1317px;
}

.payBuyList .itemInfo {
  background-color: #ffffff;
  height: 396px;
  left: 108px;
  position: absolute;
  top: 41px;
  width: 1088px;
}

.payBuyList .overlap {
  background-color: #d9d9d9;
  height: 77px;
  left: 38px;
  position: absolute;
  top: 111px;
  width: 575px;
}

.payBuyList .textWrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 233px;
}

.payBuyList .overlapGroup {
  background-color: #d9d9d9;
  height: 77px;
  left: 38px;
  position: absolute;
  top: 208px;
  width: 575px;
}

.payBuyList .divWrapper {
  background-color: #d9d9d9;
  height: 77px;
  left: 38px;
  position: absolute;
  top: 305px;
  width: 575px;
}

.payBuyList .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 233px;
}

.payBuyList .overlap2 {
  background-color: #d9d9d9;
  height: 77px;
  left: 35px;
  position: absolute;
  top: 13px;
  width: 575px;
}

.payBuyList .textWrapper3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 233px;
}

.payBuyList .imageBox {
  background-color: #d6d6d6;
  height: 366px;
  left: 686px;
  position: absolute;
  top: 16px;
  width: 366px;
}

.payBuyList .overlap3 {
  background-color: #ffffff;
  height: 57px;
  left: 1233px;
  position: absolute;
  top: 41px;
  width: 46px;
}

.payBuyList .textWrapper4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 39px;
}

.payBuyList .overlap4 {
  height: 57px;
  left: 32px;
  position: absolute;
  top: 41px;
  width: 46px;
}

.payBuyList .deleteButton {
  background-color: #ffffff;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 46px;
}

.payBuyList .textWrapper5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 39px;
}

.payBuyList .payItem2 {
  background-color: #eeeeeeee;
  height: 472px;
  left: 62px;
  position: absolute;
  top: 1003px;
  width: 1317px;
}

.payBuyList .overlap5 {
  height: 57px;
  left: 32px;
  position: absolute;
  top: 43px;
  width: 46px;
}

.payBuyList .overlap6 {
  height: 69px;
  left: 186px;
  position: absolute;
  top: 1611px;
  width: 1053px;
}

.payBuyList .price {
  background-color: #d9d9d9;
  height: 69px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 310px;
  font-size: 30px;
}

.payBuyList .price2 {
  background-color: #d9d9d9;
  height: 69px;
  left: 372px;
  position: absolute;
  top: 0;
  width: 310px;
  font-size: 30px;
}

.payBuyList .price3 {
  background-color: #d9d9d9;
  height: 69px;
  left: 720px;
  position: absolute;
  top: 0;
  width: 310px;
  font-size: 30px;
}

.payBuyList .textWrapper6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 39.3px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 357px;
}

.payBuyList .textWrapper7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 39.3px;
  font-weight: 400;
  left: 348px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 357px;
}

.payBuyList .textWrapper8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 39.3px;
  font-weight: 400;
  left: 697px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 357px;
}

.payBuyList .textWrapper9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 650px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 315px;
  width: 295px;
}

.payBuyList .nav {
  background-color: #eeeeee;
  height: 130px;
  left: 57px;
  position: absolute;
  top: 103px;
  width: 1325px;
}

.payBuyList .user {
  background-color: #ffffff;
  height: 69px;
  left: 1062px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 242px;
}

.payBuyList .textWrapper10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 203px;
}

.payBuyList .logo {
  background-color: #ffffff;
  height: 80px;
  left: 21px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 205px;
}

.payBuyList .textWrapper11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.2px;
  font-weight: 400;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 141px;
}