.pay-fail {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pay-fail .div {
  background-color: #ffffff;
  height: 1513.02px;
  position: relative;
  width: 1440px;
}

.pay-fail .overlap {
  height: 1181px;
  left: 194px;
  position: absolute;
  top: 93px;
  width: 1068px;
}

.pay-fail .inner-box {
  background-color: #eeeeee;
  height: 1181px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1068px;
}

.pay-fail .overlap-group {
  height: 98px;
  left: 36px;
  position: absolute;
  top: 58px;
  width: 952px;
}

.pay-fail .price {
  background-color: #ffffff;
  height: 98px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 932px;
}

.pay-fail .text-wrapper {
  color: #aa0000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.7px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 952px;
}

.pay-fail .overlap-group-2 {
  background-color: #ffffff;
  height: 925px;
  left: 57px;
  position: absolute;
  top: 192px;
  width: 932px;
}

.pay-fail .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.7px;
  font-weight: 400;
  left: 383px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
}

.pay-fail .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 190px;
}

.pay-fail .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 663px;
}

.pay-fail .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 258px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 663px;
}

.pay-fail .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 258px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 745px;
}

.pay-fail .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 745px;
}

.pay-fail .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 258px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 190px;
}

.pay-fail .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 258px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 346px;
}

.pay-fail .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37.2px;
  font-weight: 400;
  left: 258px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 503px;
}

.pay-fail .p {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.5px;
  font-weight: 400;
  left: 270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 253px;
}

.pay-fail .text-wrapper-11 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29.8px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 865px;
}

.pay-fail .text-wrapper-12 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.5px;
  font-weight: 400;
  left: 270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 410px;
}

.pay-fail .text-wrapper-13 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.5px;
  font-weight: 400;
  left: 270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 566px;
}

.pay-fail .vector {
  height: 4px;
  left: 56px;
  position: absolute;
  top: 324px;
  width: 933px;
}

.pay-fail .img {
  height: 2px;
  left: 57px;
  position: absolute;
  top: 1038px;
  width: 931px;
}

.pay-fail .div-wrapper {
  background-color: #eeeeee;
  height: 98px;
  left: 348px;
  overflow: hidden;
  position: absolute;
  top: 1348px;
  width: 345px;
}

.pay-fail .text-wrapper-14 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.7px;
  font-weight: 400;
  height: 90px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 345px;
}

.pay-fail .inner-box-2 {
  background-color: #eeeeee;
  height: 98px;
  left: 762px;
  position: absolute;
  top: 1348px;
  width: 345px;
}

.pay-fail .text-wrapper-15 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.7px;
  font-weight: 400;
  height: 90px;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 284px;
}
