* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
a {
  text-decoration: none;
}

.payment {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.payment .paymentInnerWrapper {
  background-color: #ffffff;
  height: 1632.14px;
  width: 1440px;
}

.payment .paymentInner {
  background-color: #eeeeee;
  height: 1195px;
  left: 249px;
  position: relative;
  top: 218px;
  width: 942px;
}

.payment .payBox {
  background-color: #ffffff;
  height: 915px;
  left: 34px;
  position: absolute;
  top: 188px;
  width: 881px;
}

.payment .userInfoBox {
  height: 679px;
  left: 20px;
  position: absolute;
  top: 52px;
  width: 385px;
}

.payment .carryInfo {
  text-align: center;
  background-color: #eee;
  border-radius: 10px;
  margin: 0 25px;
  padding: 10px;
}

.payment .emailBox {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 111px;
  left: 27px;
  position: absolute;
  top: 60px;
  width: 331px;
}

.payment .email {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 248px;
}

.payment .email2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 60px;
  width: 248px;
}

.payment .addressBox {
  /* background-color: #ffffff; */
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 111px;
  left: 27px;
  position: absolute;
  top: 180px;
  width: 331px;
}

.payment .address {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 219px;
}

.payment .address2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 60px;
  width: 280px;
}

.payment .carryBox {
  /* background-color: #ffffff; */
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 150px;
  left: 27px;
  position: absolute;
  top: 300px;
  width: 331px;
}

.payment .carryRequest {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 35px;
  width: 254px;
}

.payment .carrySelect {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 290px;
  height: 30px;
  border-radius: 5px;
}

.payment .carryMessage8 {
  position: absolute;
  top: 70px;
  left: 0;
  border: none;
  width: 290px;
  height: 28px;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
}

.payment .howPayBox {
  background-color: #eee;
  height: 222px;
  left: 27px;
  position: absolute;
  top: 460px;
  width: 331px;
  border-radius: 10px;
}

.payment .title {
  top: 10px;
  width: 300px;
}

.payment .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: -20px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 228px;
}

.payment .paymentBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100px;
  margin-top: 50px;
  align-items: center;
}

.payment .paymentBox .item {
  background-color: #fff;
  width: 45%;
  border-radius: 5px;
  border: 2px solid #ddd;
  text-align: center;
  height: 45px;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.payment .paymentBox .item .center {
  line-height: 43px;
}

.payment .underline {
  text-decoration: underline;
  color: #999;
  position: absolute;
  left: 20px;
  font-size: 12px;
  margin-top: 13px;
  font-weight: lighter;
}

.payment .smaller {
  font-size: 10px;
  color: #999;
  position: absolute;
  left: 20px;
  font-weight: lighter;
  margin-top: 10px;
}

.payment .payList {
  height: 679px;
  left: 450px;
  position: absolute;
  top: 52px;
  width: 400px;
}

.payment .sum {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: large;
  font-weight: 600;
}

.payment .title5 .total {
  color: #e65054;
  font-weight: 600;
}

.payment .orderSumText {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 190px;
}

.payment .myOrder {
  display: flex;
  justify-content: center;
  width: 400px;
}

.payment .orderInfo {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
  position: absolute;
  left: -20px;
  width: 400px;
  font-size: 18.7px;
  font-weight: 600;
}

.payment .title2 {
  background-color: #eeeeee;
  height: 50px;
  position: absolute;
  top: 20px;
  width: 400px;
  border-radius: 5px;
}

.payment .title3 {
  background-color: #eeeeee;
  height: 50px;
  position: absolute;
  top: 85px;
  width: 400px;
  border-radius: 5px;
}

.payment .title4 {
  background-color: #eeeeee;
  height: 50px;
  position: absolute;
  top: 152px;
  width: 400px;
  border-radius: 5px;
}

.payment .title5 {
  background-color: #eeeeee;
  height: 50px;
  position: absolute;
  top: 220px;
  width: 400px;
  border-radius: 5px;
}

.payment .productBox {
  height: 290px;
  left: -20px;
  position: absolute;
  top: 400px;
  width: 400px;
}

.payment .moreButton {
  position: absolute;
  left: 260px;
  top: 15px;
  font-size: 10px;
  color: #eee;
  border: none;
  background-color: dimgray;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.payment .product {
  border-radius: 5px;
  height: 145px;
  position: relative;
  top: 40px;
  right: 50px;
  width: 400px;
}

.payment .image {
  position: absolute;
  width: 38%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.payment .productImg {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  object-fit: cover;
}

.payment .productInfo {
  height: 145px;
  left: 140px;
  position: absolute;
  width: 250px;
  z-index: 10;
  border: 1px solid #eee;
}

.payment .productName {
  background-color: #fff;
  font-size: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.payment .productDetail {
  color: #000000;
  font-size: 16px;
  left: 20px;
  line-height: normal;
  position: absolute;
  top: 60px;
  width: 150px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.payment .productAmount {
  color: #000000;
  font-size: 16px;
  left: 20px;
  line-height: normal;
  position: absolute;
  top: 85px;
  width: 150px;
}

.payment .productPrice {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  left: 20px;
  line-height: normal;
  position: absolute;
  top: 110px;
  width: 150px;
}

.payment .textWrapper8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 419px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 63px;
  width: 246px;
}

.payment .buttonBox {
  position: absolute;
  top: 740px;
  left: -80px;
}
