.paySuccess {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.paySuccess .div {
  background-color: #ffffff;
  height: 1502.12px;
  position: relative;
  width: 1440px;
}

.paySuccess .overlap {
  height: 1172px;
  left: 193px;
  position: absolute;
  top: 92px;
  width: 1060px;
}

.paySuccess .innerBox {
  background-color: #eeeeee;
  height: 1172px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1060px;
}

.paySuccess .overlapGroup {
  height: 97px;
  left: 36px;
  position: absolute;
  top: 58px;
  width: 945px;
}

.paySuccess .price {
  background-color: #ffffff;
  height: 97px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 926px;
}

.paySuccess .textWrapper {
  color: #aa0000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 945px;
}

.paySuccess .overlapGroup2 {
  background-color: #ffffff;
  height: 918px;
  left: 56px;
  position: absolute;
  top: 191px;
  width: 926px;
}

.paySuccess .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.4px;
  font-weight: 400;
  left: 381px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
}

.paySuccess .textWrapper3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 189px;
}

.paySuccess .textWrapper4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 659px;
}

.paySuccess .textWrapper5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 659px;
}

.paySuccess .textWrapper6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 740px;
}

.paySuccess .textWrapper7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 740px;
}

.paySuccess .textWrapper8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 189px;
}

.paySuccess .textWrapper9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 344px;
}

.paySuccess .textWrapper10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 499px;
}

.paySuccess .p {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 251px;
}

.paySuccess .textWrapper11 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29.6px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 859px;
}

.paySuccess .textWrapper12 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 407px;
}

.paySuccess .textWrapper13 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 562px;
}

.paySuccess .vector {
  height: 4px;
  left: 56px;
  position: absolute;
  top: 322px;
  width: 926px;
}

.paySuccess .img {
  height: 2px;
  left: 57px;
  position: absolute;
  top: 1031px;
  width: 925px;
}

.paySuccess .toHome {
  background-color: #eeeeee;
  font-size: 43px;
  height: 80px;
  left: 180px;
  text-align: center;
  position: absolute;
  top: 1230px;
  width: 300px;
}

.paySuccess .nextPage {
  background-color: #eeeeee;
  font-size: 43px;
  height: 80px;
  left: 580px;
  text-align: center;
  position: absolute;
  top: 1230px;
  width: 300px;
}
