.pay-success {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pay-success .div {
  background-color: #ffffff;
  height: 1502.12px;
  position: relative;
  width: 1440px;
}

.pay-success .overlap {
  height: 1172px;
  left: 193px;
  position: absolute;
  top: 92px;
  width: 1060px;
}

.pay-success .inner-box {
  background-color: #eeeeee;
  height: 1172px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1060px;
}

.pay-success .overlap-group {
  height: 97px;
  left: 36px;
  position: absolute;
  top: 58px;
  width: 945px;
}

.pay-success .price {
  background-color: #ffffff;
  height: 97px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 926px;
}

.pay-success .text-wrapper {
  color: #aa0000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 945px;
}

.pay-success .overlap-group-2 {
  background-color: #ffffff;
  height: 918px;
  left: 56px;
  position: absolute;
  top: 191px;
  width: 926px;
}

.pay-success .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.4px;
  font-weight: 400;
  left: 381px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
}

.pay-success .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 189px;
}

.pay-success .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 659px;
}

.pay-success .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 659px;
}

.pay-success .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 740px;
}

.pay-success .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 740px;
}

.pay-success .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 189px;
}

.pay-success .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 344px;
}

.pay-success .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 499px;
}

.pay-success .p {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 251px;
}

.pay-success .text-wrapper-11 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 29.6px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 859px;
}

.pay-success .text-wrapper-12 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 407px;
}

.pay-success .text-wrapper-13 {
  color: #00000070;
  font-family: "Inter-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 562px;
}

.pay-success .vector {
  height: 4px;
  left: 56px;
  position: absolute;
  top: 322px;
  width: 926px;
}

.pay-success .img {
  height: 2px;
  left: 57px;
  position: absolute;
  top: 1031px;
  width: 925px;
}

.pay-success .div-wrapper {
  background-color: #eeeeee;
  height: 97px;
  left: 346px;
  position: absolute;
  top: 1338px;
  width: 342px;
}

.pay-success .text-wrapper-14 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.4px;
  font-weight: 400;
  height: 89px;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 237px;
}

.pay-success .inner-box-2 {
  background-color: #eeeeee;
  height: 97px;
  left: 757px;
  position: absolute;
  top: 1338px;
  width: 342px;
}

.pay-success .text-wrapper-15 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 44.4px;
  font-weight: 400;
  height: 89px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 282px;
}
