.productInfo {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.productInfo .productInfoWrapper {
  margin-top: 100px;
  background-color: #ffffff;
  width: 1440px;
}

.productInfo .infoDescription {
  height: 1163px;
  width: 1330px;
  overflow: hidden;
}
.productInfo .infoDescription.unhidden {
  width: 1330px;
  height: auto;
  overflow: unset;
}

.productInfo .productDecription {
  background-color: inherit;
  width: 1328px;
  position: relative;
}

.productInfo .moreInfo {
  background-color: #ffffff;
  height: 117px;
  width: 1322px;
}


.productInfo .descriptionBox {
  display: block;
  width: 100%;
}

.productInfo .descriptionImg {
  display: block;
  width: 100%;
}

.productInfo .textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  height: 100%;
  width: 100%;
}

.productInfo .polygon {
  height: 17px;
  width: 31px;
}

.productInfo .textWrapper2 {
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.productInfo .infoSelect {
  display: flex;
  background-color: inherit;
  border-radius: 5px;
  height: 156px;
  width: 100%;
}

.productInfo .productReview {
  height: 156px;
  width: 664px;
}

.productInfo .textWrapper3 {
  color: #000;
  height: 100%;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  vertical-align: middle;
  line-height: 140px;
  text-align: center;
}

.productInfo .productDescription1 {
  /* height: 156px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 664px; */

  background-color: #999;
  border-radius: 5px;
  height: 156px;
  width: 664px;
}

.productInfo .textWrapper4 {
  color: #eee;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 140px;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}
