.productList{}
.productList .div{}


.productList .div .product-wrap{
  display: flex; justify-content: space-between; align-items: center;
  flex-wrap: wrap;
  margin-top: 40px; padding: 20px;
}

.product-list .div .product-wrap .product{
  padding: 10px; margin-top: 10px;
  background-color: #eee;
  text-align: center;
}
.product-list .div .product-wrap .product .image{
  background-color: #fff;
}
.product-list .div .product-wrap .product .image-wrapper{
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
.product-list .div .product-wrap .product .text-wrapper{
  padding: 20px;
  background-color: #efefef;
  text-align: center;
}
