.productInfoReview {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.productInfoReview .productInfoWrapper {
  margin-top: 100px;
  background-color: #ffffff;
  width: 1440px;
}

.productInfoReview .productInfo {
  width: 1330px;
  transform: translate(50px, 23px);
}

.productInfoReview .productDescription {
  background-color: inherit;
  width: 1328px;
  position: relative;
  cursor: pointer;
}

.productInfoReview .textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  height: 100%;
  width: 100%;
}

.productInfoReview .infoSelect {
  display: flex;
  background-color: inherit;
  border-radius: 5px;
  height: 156px;
  width: 100%;
}

.productInfoReview .productDescription {
  height: 156px;
  width: 664px;
}

.productInfoReview .textWrapper3 {
  color: #eee;
  height: 100%;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  vertical-align: middle;
  line-height: 155px;
  text-align: center;
}

.productInfoReview .productReview {
  /* height: 156px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 664px; */

  background-color: #999;
  border-radius: 5px;
  height: 156px;
  width: 664px;
  cursor: pointer;
}

.productInfoReview .textWrapper4 {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 156px;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}

.productInfoReview .reviewBox {
  width: 1440px;
  height: 100%;
  margin-top: 40px;
  border-top: 5px solid #999;
}
.productInfoReview .reviewAddBtnForm {
  display: flex;
  justify-content: flex-end;
  width: 1440px;
  height: 100px;
  margin: 50px 0;
}

.productInfoReview .reviewAddBtn {
  padding: 32px;
  border: 1px solid black;
  border-radius: 10px;
}

.productInfoReview .reviewerInfoWrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  border-bottom: #eee 1px solid;
}
.productInfoReview .reviewerInfoWrapper .reviewerInfo2 {
  padding: 20px 20px;
}
.productInfoReview .reviewerInfoWrapper .reviewerInfo2 .overlap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.productInfoReview .reviewerInfoWrapper .reviewerInfo2 .overlap .userName {
  font-size: 32px;
}
.productInfoReview .reviewerInfoWrapper .reviewerInfo2 .overlap .editBtnForm {
  margin: 0 40px;
}
.productInfoReview .reviewerInfoWrapper .reviewerInfo2 .overlap .editBtnForm .reviewEditBtn {
  padding: 8px 15px;
  border: 1px solid #000;
  border-radius: 5px;
}

.productInfoReview .evaluation {
  margin-top: 50px;
  font-size: 22px;
}

.productInfoReview .reviewCreatedAt {
  margin-top: 20px;
}

.productInfoReview .star {
  margin-left: -5px;
}

.productInfoReview .reviewCreatedAt,
.productInfoReview .productOption,
.productInfoReview .productDetail {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.productInfoReview .reviewImageBox {
  
  width: 20%;
  height: 20%;
}

.productInfoReview .reviewImage {
  margin-top: 20px;
  width: 100%;
}
.productInfoReview .paging {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
