.product-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.product-list .div {
  background-color: #ffffff;
}

.product-list .product-wrap {
}

.product-list .product {
  background-color: #eeeeee;
}

.product-list .image {
  background-color: #ffffff;
}

.product-list .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.product-list .info-box {
  background-color: #ffffff;
}

.product-list .product-name {
  background-color: #eeeeee;
}

.product-list .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.product-list .product-info {
  background-color: #eeeeee;
}

.product-list .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.product-list .product-2 {
  background-color: #eeeeee;
}

.product-list .product-3 {
  background-color: #eeeeee;
}

.product-list .div-wrapper {
  background-color: #ffffff;
}

.product-list .info-box-2 {
  background-color: #ffffff;
}

.product-list .product-4 {
  background-color: #eeeeee;
}

.product-list .product-5 {
  background-color: #eeeeee;
}

.product-list .product-6 {
  background-color: #eeeeee;
}

.product-list .product-7 {
  background-color: #eeeeee;
}

.product-list .product-8 {
  background-color: #eeeeee;
}

.product-list .image-2 {
  background-color: #ffffff;
}

.product-list .info-box-3 {
  background-color: #ffffff;
}

.product-list .detail {
  background-color: #eeeeee;
}

.product-list .div-wrapper-2 {
  background-color: #ffffff;
}

.product-list .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.product-list .div-wrapper-3 {
  background-color: #ffffff;
}

.product-list .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.product-list .div-wrapper-4 {
  background-color: #ffffff;
}

.product-list .div-wrapper-5 {
  background-color: #ffffff;
}

.product-list .div-wrapper-6 {
  background-color: #ffffff;
}
