.parentBox {
  position: relative;
}

.parentBox .header {
  position: relative;
  z-index: 2;
}

.parentBox .productdetail {
  position: relative;
  z-index: 1;
}

.parentBox .componentBox {
  height: 100%;
}

.productdetail {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.productdetail .div {
  background-color: #ffffff;
  height: 855px;
  position: relative;
  width: 1440px;
  top: -300px;
}

/* 장바구니, 바로결제 버튼 */
.productdetail .buttonGroup {
  height: 144px;
  left: 758px;
  position: absolute;
  top: 980px;
  width: 590px;
}

.productdetail .textWrapper {
  color: #ccc;
  background-color: none !important;
  font-size: 24px;
  font-weight: 400;
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 100px;
}

.productdetail .cartButton {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 75px;
  left: 70px;
  position: absolute;
  top: 24px;
  width: 200px;
}

.productdetail .nowPayButton {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 75px;
  left: 313px;
  position: absolute;
  top: 24px;
  width: 200px;
}

.productdetail .infoBox {
  height: 586px;
  left: 756px;
  position: absolute;
  top: 417px;
  width: 592px;
}

.productdetail .textWrapper2 {
  color: #ccc;
  font-size: 22px;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

/* 사이즈, 색상, 수량 */
.productdetail .select {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 245px;
  font-size: 22px;
  padding-left: 10px;
}

.productdetail .overlapGroup {
  height: 50px;
  left: 200px;
  position: absolute;
  top: 2px;
  width: 245px;
}

.productdetail .text {
  border-color: #000000;
  height: 48px;
  position: absolute;
  top: 3px;
  width: 150px;
  font-size: 26px;
  text-align: start;
}

.productdetail .color {
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 133px;
}

.productdetail .overlapGroup .inputMinus {
  z-index: 1;
  border: 1px solid #ccc;
  height: 40px;
  position: absolute;
  width: 47px;
  font-size: 24px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.productdetail .overlapGroup .inputPlus {
  z-index: 1;
  border: 1px solid #ccc;
  height: 40px;
  right: 0;
  position: absolute;
  width: 47px;
  font-size: 24px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.productdetail .input {
  border: 1px solid #ccc;
  height: 50px;
  left: 62px;
  position: absolute;
  width: 182px;
  font-size: 24px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  height: 0;
  width: 0;
}

.productdetail .line {
  height: 48px;
  left: 174px;
  position: absolute;
  top: 11px;
  width: 2px;
}

.productdetail .img {
  height: 48px;
  left: 69px;
  position: absolute;
  top: 11px;
  width: 2px;
}

.productdetail .line2 {
  height: 2px;
  left: 10px;
  position: absolute;
  top: 30px;
  width: 44px;
}
.productdetail .line3 {
  height: 2px;
  left: 186px;
  position: absolute;
  top: 31px;
  width: 44px;
}

.productdetail .line4 {
  height: 35px;
  left: 207px;
  position: absolute;
  top: 17px;
  width: 1px;
}

.productdetail .overlap {
  height: 59px;
  left: 200px;
  position: absolute;
  top: 2px;
  width: 245px;
}

.productdetail .textWrapper3 {
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 133px;
}

.productdetail .polygon {
  height: 17px;
  left: 195px;
  position: absolute;
  top: 29px;
  width: 31px;
}

.productdetail .overlap2 {
  height: 59px;
  left: 200px;
  position: absolute;
  top: 2px;
  width: 245px;
}

.productdetail .textWrapper4 {
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 81px;
}

/* 제품 정보 */
.productdetail .productName {
  height: 72px;
  left: 33px;
  position: absolute;
  top: 100px;
  width: 526px;
}

.productdetail .productPrice {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 160px;
  width: 526px;
  border-bottom: 1px solid #eee;
}

.productdetail .productSize {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 260px;
  width: 526px;
}

.productdetail .productColor {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 320px;
  width: 526px;
}

.productdetail .productCount {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 380px;
  width: 526px;
  border-bottom: 1px solid #eee;
}

.productdetail .productTotalPrice {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 480px;
  width: 526px;
  border-bottom: 2px solid #ccc;
}

/* 제품 이미지 */
.productdetail .thumbnailBox {
  height: 817px;
  left: 25px;
  position: absolute;
  top: 388px;
  width: 722px;
}

.productdetail .subThmbnail0 {
  background-color: #d9d9d9;
  height: 155px;
  left: 100px;
  position: absolute;
  top: 570px;
  width: 155px;
}

.productdetail .subThmbnail1 {
  background-color: #d9d9d9;
  height: 155px;
  left: 273px;
  position: absolute;
  top: 570px;
  width: 155px;
}

.productdetail .subThmbnail2 {
  background-color: #d9d9d9;
  height: 155px;
  left: 445px;
  position: absolute;
  top: 570px;
  width: 155px;
}

.productdetail .mainThmbnailWrapper {
  background-color: #d9d9d9;
  height: 500px;
  left: 100px;
  position: absolute;
  top: 29px;
  width: 500px;
}

.productdetail .mainThmbnail {
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 261px;
  width: 236px;
}

.productdetail .category {
  background-color: #eeeeee;
  height: 128px;
  left: 81px;
  position: absolute;
  top: 193px;
  width: 1296px;
}

.productdetail .divWrapper {
  background-color: #ffffff;
  height: 78px;
  left: 20px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .textWrapper5 {
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.productdetail .category2 {
  background-color: #ffffff;
  height: 78px;
  left: 555px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .category3 {
  background-color: #ffffff;
  height: 78px;
  left: 814px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .category4 {
  background-color: #ffffff;
  height: 78px;
  left: 1073px;
  position: absolute;
  top: 24px;
  width: 200px;
}

.productdetail .category5 {
  background-color: #ffffff;
  height: 78px;
  left: 287px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .nav {
  background-color: #eeeeee;
  height: 128px;
  left: 81px;
  position: absolute;
  top: 43px;
  width: 1296px;
}

.productdetail .user {
  background-color: #ffffff;
  height: 68px;
  left: 1038px;
  position: absolute;
  top: 33px;
  width: 236px;
}

.productdetail .textWrapper6 {
  color: #000000;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 198px;
}

.productdetail .textWrapper7 {
  color: #000000;
  font-size: 43.2px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 138px;
}

.administrator {
  font-size: 20px;
  margin: 0 55px;
}

.productdetail .btn {
  width: 20%;
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.productdetail .clientBtn1 {
  width: 30%;
  height: 60px;
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  position: absolute;
  top: 75px;
  left: 18%;
}

.productdetail .clientBtn2 {
  width: 30%;
  height: 60px;
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  position: absolute;
  top: 75px;
  left: 52%;
}

.productdetail .btn:hover {
  background-color: #ccc;
  color: #ffffff;
}

.productdetail .clientBtn1:hover {
  background-color: #ccc;
  color: #ffffff;
}

.productdetail .clientBtn2:hover {
  background-color: #ccc;
  color: #ffffff;
}

.productdetail.productReview {
  background-color: #999;
  border-radius: 5px;
  height: 156px;
  left: 664px;
  position: absolute;
  top: 5px;
  width: 664px;
}

.productdetail .textWrapper5 {
  color: #eee;
  font-size: 28px;
  font-weight: 400;
  left: 270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
}

.productdetail .productDescription {
  height: 156px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 664px;
}

.productdetail .textWrapper6 {
  color: #000000;
  font-size: 28px;
  font-weight: 400;
  left: 280px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
}