

.productdetail {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

.productdetail .div {
  background-color: #ffffff;
  height: 855px;
  position: relative;
  width: 1440px;
  top: -350px;
}

.productdetail .buttonBox {
  background-color: #eeeeee;
  height: 144px;
  left: 758px;
  position: absolute;
  top: 1025px;
  width: 590px;
}

.productdetail .nowPayButton {
  background-color: #ffffff;
  height: 96px;
  left: 313px;
  position: absolute;
  top: 24px;
  width: 255px;
}

.productdetail .textWrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 194px;
}

.productdetail .cartButton {
  background-color: #ffffff;
  height: 96px;
  left: 19px;
  position: absolute;
  top: 24px;
  width: 255px;
}

.productdetail .infoBox {
  background-color: #eeeeee;
  height: 586px;
  left: 756px;
  position: absolute;
  top: 417px;
  width: 592px;
}

.productdetail .productTotalPrice {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 494px;
  width: 526px;
}

.productdetail .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.productdetail .productCount {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 406px;
  width: 526px;
}

.productdetail .overlapGroup {
  height: 59px;
  left: 233px;
  position: absolute;
  top: 4px;
  width: 245px;
}

.productdetail .overlapGroup .inputMinus {
  z-index: 1;
  background-color: #eeeeeeee;
  border: 0.72px solid;
  border-color: #000000;
  height: 48px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 48px;
  font-size: 32px;
}

.productdetail .input {
  background-color: #eeeeeeee;
  border: 0.72px solid;
  border-color: #000000;
  height: 48px;
  left: 48px;
  position: absolute;
  top: 10px;
  width: 149px;
  font-size: 32px;
}

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    height: 0;
    width: 0;
  }

.productdetail .overlapGroup .inputPlus {
  z-index: 1;
  background-color: #eeeeeeee;
  border: 0.72px solid;
  border-color: #000000;
  height: 48px;
  right: 0;
  position: absolute;
  top: 10px;
  width: 48px;
  font-size: 32px;
}

.productdetail .select {
  background-color: #eeeeeeee;
  border: 0.72px solid;
  border-color: #000000;
  height: 48px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 245px;
  font-size: 32px;
}

.productdetail .text {
  /* background-color: #eeeeeeee; */
  /* border: 0.72px solid; */
  border-color: #000000;
  height: 48px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 245px;
  font-size: 32px;
}

.productdetail .color {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 133px;
}

.productdetail .line {
  height: 48px;
  left: 174px;
  position: absolute;
  top: 11px;
  width: 2px;
}

.productdetail .img {
  height: 48px;
  left: 69px;
  position: absolute;
  top: 11px;
  width: 2px;
}

.productdetail .line2 {
  height: 2px;
  left: 10px;
  position: absolute;
  top: 30px;
  width: 44px;
}
.productdetail .line3 {
  height: 2px;
  left: 186px;
  position: absolute;
  top: 31px;
  width: 44px;
}

.productdetail .line4 {
  height: 35px;
  left: 207px;
  position: absolute;
  top: 17px;
  width: 1px;
}

.productdetail .productColor {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 318px;
  width: 526px;
}

.productdetail .overlap {
  height: 59px;
  left: 233px;
  position: absolute;
  top: -1px;
  width: 245px;
}

.productdetail .textWrapper3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 133px;
}

.productdetail .polygon {
  height: 17px;
  left: 195px;
  position: absolute;
  top: 29px;
  width: 31px;
}

.productdetail .productSize {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 231px;
  width: 526px;
}

.productdetail .overlap2 {
  height: 59px;
  left: 233px;
  position: absolute;
  top: 2px;
  width: 245px;
}

.productdetail .textWrapper4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 81px;
}

.productdetail .productPrice {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 143px;
  width: 526px;
}

.productdetail .productName {
  background-color: #ffffff;
  height: 72px;
  left: 33px;
  position: absolute;
  top: 55px;
  width: 526px;
}

.productdetail .thumbnailBox {
  background-color: #ffffff;
  height: 817px;
  left: 25px;
  position: absolute;
  top: 388px;
  width: 722px;
}

.productdetail .subThmbnail0 {
  background-color: #d9d9d9;
  height: 144px;
  left: 120px;
  position: absolute;
  top: 637px;
  width: 144px;
}

.productdetail .subThmbnail1 {
  background-color: #d9d9d9;
  height: 144px;
  left: 278px;
  position: absolute;
  top: 637px;
  width: 144px;
}

.productdetail .subThmbnail2 {
  background-color: #d9d9d9;
  height: 144px;
  left: 438px;
  position: absolute;
  top: 637px;
  width: 144px;
}

.productdetail .mainThmbnailWrapper {
  background-color: #d9d9d9;
  height: 586px;
  left: 56px;
  position: absolute;
  top: 29px;
  width: 575px;
}

.productdetail .mainThmbnail {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 261px;
  width: 236px;
}

.productdetail .category {
  background-color: #eeeeee;
  height: 128px;
  left: 81px;
  position: absolute;
  top: 193px;
  width: 1296px;
}

.productdetail .divWrapper {
  background-color: #ffffff;
  height: 78px;
  left: 20px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .textWrapper5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.productdetail .category2 {
  background-color: #ffffff;
  height: 78px;
  left: 555px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .category3 {
  background-color: #ffffff;
  height: 78px;
  left: 814px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .category4 {
  background-color: #ffffff;
  height: 78px;
  left: 1073px;
  position: absolute;
  top: 24px;
  width: 200px;
}

.productdetail .category5 {
  background-color: #ffffff;
  height: 78px;
  left: 287px;
  position: absolute;
  top: 23px;
  width: 200px;
}

.productdetail .nav {
  background-color: #eeeeee;
  height: 128px;
  left: 81px;
  position: absolute;
  top: 43px;
  width: 1296px;
}

.productdetail .user {
  background-color: #ffffff;
  height: 68px;
  left: 1038px;
  position: absolute;
  top: 33px;
  width: 236px;
}

.productdetail .textWrapper6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 198px;
}

.productdetail .textWrapper7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 43.2px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 138px;
}
