.userInfo {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.userInfo .overlapGroupWrapper {
  background-color: #ffffff;
  position: relative;
}
.userInfo .profileImage {
  background-color: #d9d9d9;
  border-radius: 204.77px;
  position: absolute;
  left: 150px;
  top: 0;
  height: 410px;
  width: 410px;
  z-index: 1;
}

.userInfo .overlapGroup {
}

.userInfo .userSelect {
  background-color: #eeeeee;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  margin-top: 380px;
  width: 731px;
}

.userInfo .link {
  background-color: #ffffff;
  width: 90%;
  margin: 20px 0;
  padding: 10px;
}

.userInfo .deleteButton {
  background-color: #ffffff;
  width: 90%;
  margin: 20px 0;
  padding: 10px;
  border: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 48.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.userInfo .textWrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 48.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
