*{margin:0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style:none;}
a{text-decoration:none;} 



.userEdit{
  background-color: #f6f1eb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.userEdit .inner{
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.userEdit .userEditBox {
  background-color: #fffcf7;
  height: 830px;
  width: 574px;
  position: absolute;
  top: 200px;
  left: 500px;
  border-radius: 10px;
}

.userEdit .imageBox{
  position: absolute;
  top: -200px;
  left: -440px;
}

.userEdit .iuputImage{
  position: absolute;
  top: 210px;
  left: 850px;
  z-index: 2;
  border-radius: 109.48px;
  height: 219px;
  left: 611px;
  width: 219px;
  top: 21px;
  opacity: 0;
  cursor: pointer;
}

.userEdit .profileImage{
  position: absolute;
  border-radius: 109.48px;
  height: 219px;
  left: 611px;
  position: absolute;
  top: 21px;
  width: 219px;
  z-index: 1;
}

.userEdit .boxPassword {
  height: 87px;
  left: 10px;
  position: absolute;
  top: 83px;
  width: 359px;
}

.userEdit .checkBox {
  position: absolute;
  top : 0px;
  left: 220px;
}

.userEdit .checkPass{
  position: absolute;
  top : -7px;
  left: 235px;
}


.userEdit .input {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 373px;
  border: 1px solid #9d2a1e;
  padding-left: 7px;
  border-radius: 4px;
}

.userEdit .txt {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12.9px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -10px;
  width: 190px;
}

.userEdit .boxPasswordCheck {
  height: 87px;
  left: 10px;
  position: absolute;
  top: 170px;
  width: 359px;
  
}

.userEdit .boxEmail {
  height: 87px;
  left: 10px;
  position: absolute;
  top: 267px;
  width: 359px;
}

.userEdit .boxPhone {
  height: 87px;
  left: 7px;
  position: absolute;
  top: 371px;
  width: 359px;
}

.userEdit .boxAddress {
  height: 87px;
  left: 3px;
  position: absolute;
  top: 492px;
  width: 359px;
}

.userEdit .selectGender {
  height: 87px;
  left: 0;
  position: absolute;
  top: 612px;
  width: 359px;
}

.userEdit .inputRadio {
  height: 43px;
  left: 100px;
  position: absolute;
  top: 19px;
  width: 373px;
  border: 1px solid #9d2a1e;;
  border-radius: 4px;
  background-color: #ffffff;
}

.userEdit .inputRadio::after{
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  background-color: #9d2a1e;
  position: absolute;
  left: 176px;
}

.userEdit .textWrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12.9px;
  font-weight: 400;
  left: 192px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 27px;
}

.userEdit .textWrapper2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12.9px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 27px;
}

.userEdit .radioFemale {
  background-color: #ffffff;
  height: 25px;
  left: 269px;
  position: absolute;
  top: 9px;
  width: 35px;
}

.userEdit .radioMale {
  background-color: #ffffff;
  height: 25px;
  left: 64px;
  position: absolute;
  top: 9px;
  width: 35px;
}

.userEdit .editForm {
  height: 60px;
  left: 10px;
  position: absolute;
  top: 749px;
  width: 352px;
}

.userEdit .submitButton {
  background-color: #4d4a4a;
  height: 40px;
  left: 120px;
  position: absolute;
  top: 0px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
}

.userEdit .textWrapper3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12.9px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 89px;
}

.userEdit .cancelButton {
  background-color: #4d4a4a;
  height: 40px;
  left: 310px;
  position: absolute;
  top: 0px;
  width: 120px;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
}

.userEdit .textWrapper4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12.9px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 63px;
}