.userProfile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.userProfile .overlapGroupWrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
}

.userProfile .overlapGroup {
  height: 1035px;
  left: 503px;
  position: relative;
  width: 434px;
}

.userProfile .profileImage {
  background-color: #d9d9d9;
  border-radius: 121.63px;
  height: 243px;
  left: 94px;
  position: absolute;
  top: 0;
  width: 243px;
  z-index: 1;
}

.userProfile .userEditBox {
  background-color: #eeeeee;
  left: 0;
  position: absolute;
  top: 230px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 434px;
  height: 824px;
}

.userProfile .userEditBox .title {
  padding: 15px 0;
  margin: 10px;
  text-align: center;
}

.userProfile .box {
  background-color: #eeeeee;
  height: 97px;
  width: 399px;
}

.userProfile .textWrapper {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
}


.userProfile .editForm {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.userProfile .cancelButton {
  background-color: #ffffff;
  height: 48px;
  width: 145px;
  margin-left: 20px;
}

.userProfile .toSubmitButton {
  background-color: #ffffff;
  height: 48px;
  width: 145px;
  margin-right: 20px;
}
