.main-notlogin {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-notlogin .div {
  width: 100%;
  position: relative;
  background-color: #ffffff;
}

.visual {
  position: absolute;
  left: -110px;
  top: 0;
  width: 100vw;
  height: 600px;
  margin: 20px 0;
  background-color: #eeeeee;
}

.main-notlogin .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 700px;
  padding: 20px;
}

.main-notlogin .product {
  background-color: #eeeeee;
  width: 20%;
  margin: 20px 10px;
}

.main-notlogin .productImg {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
}

.main-notlogin .text-wrapper {
  width: 100%;
  margin: 5px 0;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.main-notlogin .info-box {
  background-color: #ffffff;
}

.main-notlogin .product-name {
  background-color: #eeeeee;
}

.main-notlogin .product-info {
  background-color: #eeeeee;
}

.main-notlogin .product {
  background-color: #eeeeee;
}
