.main {
  background-color: hsl(0, 0%, 100%);
}

.main .visual {
  display: flex;
  position: relative;
  width: 100vw;
  height: 600px;
  background-color: #eeeeee;
  overflow: hidden;
}

.main .visual .wrap {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.main .visual img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .visual button {
  padding: 10px;
  border-radius: 20px;
}
.main .visual button.left {
  position: absolute;
  top: 50%;
  left: 0;
}
.main .visual button.right {
  position: absolute;
  top: 50%;
  right: 20px;
}

.main .inner {
  margin: 40px 0;
}

.main .inner .link {
  margin: 20px 0;
}
.main .inner .link h1 {
  color: black;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.main .inner .div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main .inner .div p {
  margin: 0 10px;
}

.main .inner .div .sort {
  margin-right: 140px;
}
.main .inner .div p span {
  margin: 0 10px;
  padding: 5px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
}
.main .wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 20px;
  margin: 0 5px;
}

.main .wrap .link {
  max-width: 300px;
}
